<head>
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/application.css">
</head>
<div>
    {control filterForm}
</div>
<div>
    <table class="width table">
        <tr class="row">
            <th class="field">Username</th>
            <th class="field">Password</th>
            <th class="field">Pohlavi</th>
            <th class="field">Editace</th>
        </tr>
        <tr n:foreach="$table as $row" class="row">
            <td class="field">{$row['Username']}</td>
            <td class="field">{$row['Password']}</td>
            <td class="field">{$row['Pohlavi']}</td>
            <td class="field"><a n:href="Editpage:edit $row">Edit</a></td>
        </tr>
    </table>
    <div class="width">
        <a n:href="Homepage:default"><button class="button">Log out</button></a>
        <a n:href="Editpage:new"><button class="button">Novy zaznam</button></a>
    </div>
    <div class="width">
        <div>
            <a n:href="Homepage:table $success, $page - 1, $filter"><button class="button" {if $paginator->first}disabled{/if}>Predchozi stranka</button></a>
            <a n:href="Homepage:table $success, $page + 1, $filter" ><button class="button" {if $paginator->last}disabled{/if}>Dalsi strnaka</button></a>
        </div>
    </div>
</div>