.width {
    width: 800px;
}

.table{
    text-align: center;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.button{
    width: 49.5%;
}

.field{
    border-style: solid;
    border-width: 1px;
}

.visibility{
    visibility: hidden;
}